.paper-size {
  font-size: 12pt;
  width: 8.5in;
  height: 14in;
  display: none;
}

.form-logo {
  width: 6.86rem;
  height: 6.85rem;
  margin-bottom: 1rem;
}

.form-title {
  font-size: 1rem;
  font-family: "Times New Roman";
}

.form-title p {
  margin-bottom: 0px;
}

.form-name {
  text-align: center;
  font-size: 1rem;
  font-family: "Times New Roman";
}

.form-name p {
  margin-bottom: 0px;
}

.sp-req {
  font-size: 0.8rem;
}

.ct-img {
  height: 1in;
  width: 1in;
  margin-top: 4rem;
  margin-right: 2rem;
  float: right;
  border: 1px solid #000;
}

.form-body {
  font-family: "Times New Roman" !important;
}

@media print {
  body * {
    visibility: hidden;
  }
  .paper-size,
  .paper-size * {
    visibility: visible;
  }
  .paper-size {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }

  @page {
    size: 8.5in 14in;
    margin: 0mm;
  }
}
