.paper-size {
  font-size: 12pt;
  width: 8.5in;
  /* height: 14in; */
  display: none;
}

.paper-size1 {
  font-size: 12pt;
  width: 8.5in;
  /* height: 14in; */
  display: block;
}

.paper-size2 {
  font-size: 12pt;
  /* width: 8.5in; */
  /* height: 14in; */
  display: block;
}

.form-logo {
  width: 6.86rem;
  height: 6.85rem;
  margin-bottom: 1rem;
}

.form-logo1 {
  width: 5.86rem;
  height: 5.85rem;
}

.form-title {
  font-size: 1rem;
  font-family: "Times New Roman";
}

.form-title p {
  margin-bottom: 0px;
}

.form-name {
  text-align: center;
  font-size: 1rem;
  font-family: "Times New Roman";
}

.form-name p {
  margin-bottom: 0px;
}

.sp-req {
  font-size: 0.8rem;
}

.ct-img {
  height: 1in;
  width: 1in;
  margin-top: 4rem;
  margin-right: 2rem;
  float: right;
  border: 1px solid #000;
}

.ct-img1 {
  height: 1in;
  width: 1in;
  margin-top: 4rem;
  margin-right: 2rem;
  float: right;
  font-family: "Times New Roman", Times, serif;
}

.form-body {
  font-family: "Times New Roman" !important;
}

.form-calibri {
  font-family: Calibri, sans-serif !important;
}

@media print {
  body * {
    visibility: hidden;
  }
  .paper-size,
  .paper-size *,
  .paper-size2,
  .paper-size2 * {
    visibility: visible !important;
  }
  .paper-size,
  .paper-size1,
  .paper-size2 {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }

  @page {
    size: 8.5in 14in;
    margin: 0mm;
  }
}
